<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Salut <%= @user.first_name %></h1>
<p>
  nous te confirmons ta participations a l'evenement <%= @event.title %>
</p>
<p>
  merci d'avoir choisi eventbrite-remastered
</p>
</body>
</html>